@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto+Slab:wght@400;700&display=swap');

* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
}

.sendDm {
    height: 50px;
    position: relative;

    input {
        width: 100%;
        height: 100%;
        border: none;
        padding-left: 8px;

        &:focus {
            outline: none
        }
    }

    button {
        position: absolute;
        right: 0;
        top: 0;

        padding: 0 10px;
        border-radius: 0;
        outline: none;
        border: none;
        height: inherit;
        cursor: pointer;
        text-transform: uppercase;
    }
}

.ce-chats-container {
    background-image: url('../src/assets/bkg.png');
    background-size: cover;
    background-position: left;

    .ce-active-chat-card {
        background-color: #3D3850 !important;

        .ce-chat-title-text {
            color: #fff;
        }

        .ce-chat-subtitle-message {
            color: #F4D1D0 !important;
        }

        .ce-chat-subtitle-date {
            color: #fff;
        }
    }
}

.ce-settings {
    background-image: url('../src/assets/bkg.png');
    background-size: cover;
    background-position: right;
}

.chat-feed {
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
    background-image: url('../src/assets/coffee-5009730_640.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;

    position: relative;

    .chat-title-container {
        padding: 40px;
        text-align: center;
        background-color: #3D3850;
        margin-bottom: 20px;

        .chat-title {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .chat-subtitle {
            font-size: 14px;
            color: #F4D1D0;
        }
    }

    .message {
        padding: 8px;
        border-radius: 8px;
        background-color: #6E74A9 !important;
    }

    .message-form-container {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 40px;

        .message-form {
            height: inherit;
            width: inherit;
            position: relative;

            input:first-of-type {
                height: inherit;
                width: inherit;
                padding: 0 8px;
                border-radius: none;
                &:focus {
                    outline: none;
                }
            }

            button {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40px;
                height: 100%;
                cursor: pointer;
                border-radius: none;
            }
        }
    }
}


.access-window {
    height: 100vh;
    width: 100%;
    background-image: url('../src/assets/bkg.png');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    .access-wrapper {
        height: 550px;
        background: white;
        display: flex;
        border-radius: 8px;
        
        .buttons {
            width: 300px;

            display: flex;
            flex-flow: column;

            button {
                color: white;
                height: 50%;

                outline: none;
                cursor: pointer;
                border: none;
                font-size: 18px !important;

                &:first-of-type {
                    border-top-left-radius: 8px;
                }

                &:last-of-type {
                    border-bottom-left-radius: 8px;
                }
            }
        }

        .show-forms {
            margin: 40px;
            padding: 40px;
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px dashed #6E74A9;

            h1 {
                color: #6E74A9;
                text-align: center;
                margin-bottom: 40px;
            }

            .login-wrapper {
                display: inline-block;

                input {
                    width: 100%;
                    padding: 5px 10px;
                    border-radius: 8px;
                    outline: none;
                    border: none;
                    height: 40px;
                    background-color: #F4D1D0;
                    margin: 20px 0;

                    &::placeholder {
                        color: rgba(255,255,255, .8);
                    }

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }

                h2 {
                    color: #6E74A9;
                }
            }

            .registration-wrapper {
                h1 {
                    margin-bottom: 10px;
                }
                input {
                    width: 100%;
                    padding: 5px 10px;
                    border-radius: 8px;
                    outline: none;
                    border: none;
                    height: 40px;
                    background-color: #F4D1D0;
                    margin: 5px 0;

                    &::placeholder {
                        color: rgba(255,255,255, .8);
                    }

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }
            }

            .enter-chat-btn {
                outline: none;
                border: none;
                border-radius: 8px;
                cursor: pointer;

                padding: 20px 30px;
                background-color: #6E74A9;
                color: #fff;
                margin-top: 20px;
            }
        }
    }
}